# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
client/.env
server/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Database files
server/*.sqlite
server/*.sqlite3
server/pgdata/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln

# Build files
client/dist/
client/dist-ssr/
server/dist/
server/build/

# Temporary files
tmp/
temp/
*.tmp
*.temp

# Coverage reports
coverage/

# Miscellaneous
*.bak
*.orig
*.local